body {
    background-color: crimson;
    text-align: center;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
h1 {
    text-align: center;
}

input, select, button {
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
}